<div class="page">

    <div class="container">
        <form (ngSubmit)="createGrid()">
            <h4>Nombre de cases :</h4>
            <label>
                Horizontales :
                <input type="number" name="nbrHorizontalCases"
                    [(ngModel)]="nbrHorizontalCases" [min]="1" required>
            </label>
            <label>
                Verticales :
                <input type="number" name="nbrVerticalCases"
                    [(ngModel)]="nbrVerticalCases" [min]="1" required>
            </label>
            <label>
                Nombre d'indices max (par ligne/colonne) :
                <input type="number" name="maxClues" [(ngModel)]="maxClues"
                    [min]="1" required>
            </label>

            <button class="button" type="submit">Créer tableau</button>
        </form>
    </div>

    <div *ngIf="displayGrid">
        <div class="grid">
            <!-- construction du visuel du plateau -->
            <span *ngFor='let line of createRangeFrom1(verticalLength)'>
                <span *ngFor='let col of createRangeFrom1(horizontalLength)'>
                    <!-- cases vides -->
                    <input
                        *ngIf="line <= nbClues && col <= nbClues"
                        class="case-blank"
                        disabled>
                    
                    <!-- indices verticaux -->
                    <input *ngIf="line <= nbClues && col > nbClues"
                        class="case-clues"
                        [(ngModel)]="verticalClues[col - nbClues - 1][line - 1]"
                        type="number"
                        [min]="1">

                    <!-- indices horizontaux -->
                    <input *ngIf="line > nbClues && col <= nbClues"
                        class="case-clues"
                        [(ngModel)]="horizontalClues[line - nbClues - 1][col - 1]"
                        type="number"
                        [min]="1">

                    <!-- plateau de jeu -->
                    <input *ngIf="line > nbClues && col > nbClues"
                        [ngClass]="getGridCaseStyle(line, col)"
                        disabled>
                </span>
                <br>
            </span>
        </div>
        <button class="button" (click)="launch()">Solutionner</button>
    </div>
</div>